{% extends "base/base.html" %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/exam.css') }}">
{% endblock %}

{% block title %}Active Exam{% endblock %}

{% block content %}
<div class="container">
    <h3 id="examName" class="mb-3">Active Exam - {{ exam.name }}</h3>
    <p id="examCode" hidden>{{ exam.code }}</p>

    <button class="btn btn-warning"  id="submit">Submit exam</button>
    {% include "base/questions_list.html" %}
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/exam_questions.js') }}"></script>
<script src="{{ url_for('static', filename='js/exam_active.js') }}"></script>
{% endblock %}