{% extends "base/base.html" %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/examActive.css') }}">
{% endblock %}

{% block title %}Active Exam{% endblock %}

{% block content %}
<div class="container">
    <h3 id="examName" class="mb-3" value="{{ exam.name }}">Active Exam - {{ exam.name }}</h3>
    <div class="buttonRow">
        <button id="answer" class="btn btn-primary btn-spinner" type="button"><span role="status">Answering exam's questions</span></button>
        <div class="btn-group" role="group">
            <button id="submit" type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown"><span role="status">Submit exam</span></button>
            <ul class="dropdown-menu">
                <li class="mb-2">
                    <button id="submit_now" class="btn btn-danger" type="button">Submit now</button>
                </li>
                <li>
                    <div class="input-group">
                        <button id="submit_delay" class="btn btn-danger" type="button">Submit when</button>
                        <input id="submit_delay_count" type="number" class="form-control" size="4" max="20">
                        <div class="input-group-text">min remaining</div>
                    </div>
                </li>
            </ul>
            <div id="liveAlert"></div>
        </div>
    </div>
    {% include "base/questions_list.html" %}
</div>
{% endblock %}

{% block scripts %}
<script type="module" src="{{ url_for('static', filename='js/exam_active.js') }}"></script>
{% endblock %}