{% extends "base/base.html" %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/exam.css') }}">
{% endblock %}

{% block title %}Results{% endblock %}

{% block content %}
<div class="container">
    <h3 id="examName">{{ exam.name }}</h3>
    <div class="card mt-2 mb-3">
        <div class="card-body">
            <h5 class="card-title">Statistics</h5>
            <p class="card-text">Mmmmmmh stats:</p>
            <ul class="list-group">
                <li class="list-group-item">Description: {{ exam.description }}</li>
                <li class="list-group-item d-flex">Code:&nbsp;<div id="examCode">{{ exam.code }}</div></li>
                <li class="list-group-item">Class: {{ exam.class_name }}</li>
                <li class="list-group-item">Question count: {{ exam.questions | count }}</li>
            </ul>
            {% if exam.questions | count != 0 %}
            <ul class="list-group mt-3">
                <li class="list-group-item">Pass: X times</li>
                <li class="list-group-item">Failed: X times</li>
            </ul>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/exam_questions.js') }}"></script>
<script src="{{ url_for('static', filename='js/exam.js') }}"></script>
{% endblock %}